@model FirstASP.Models.Info
<div>
    @using (Html.BeginForm())
    {
        <div>
            @Html.AntiForgeryToken()
            @Html.Hidden("constract", (object)Convert.ToInt32(ViewBag.n))
        </div>
        <div>
          
            @Html.Hidden("golf", (object)Convert.ToInt32(Model.id))
        </div>
        <div>

            @Html.LabelFor(model => model.country)
            <p>@Html.EditorFor(model => model.country)</p>
        </div>

        <div>
            @Html.LabelFor(model => model.count)
            <p>@Html.EditorFor(model => model.count)</p>
        </div>

        <div>
            @Html.LabelFor(model => model.year)
            <p>@Html.EditorFor(model => model.year)</p>
        </div>
        <div>
            @Html.LabelFor(model => model.info)
            <p>@Html.EditorFor(model => model.info)</p>
        </div>
        <div>
            @Html.LabelFor(model => model.src)
           <input type="file" name="src">
        </div>
        <p><input type="submit" value="Сохранить" /></p>
    }
</div>
